.baseClass {

}

.row {
  display: flex;
  align-items: center;
}

.title {

  color: var(--neutral-04100, #6C7275);
  font-feature-settings: 'clig' off, 'liga' off;

  /* Body 2 (Semi) */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
}

.elementsChooseColorIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.elementsChooseColorName {
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  user-select: none;
  /* Body 1 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-top: 8px;
}

.elementSlider {
  margin-top: 16px;
}

.row {

}