.rating {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    //height: 31px;
    // width: 132;
}

.icon{
    //width:20px;
    //height:24px;
}


.rate{
    // fill: red;
}

.noRate{
    // fill: #000000;
    // fill-opacity: 0.3;
}